body {
  background-color: black;
}

.App{
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 300px;
  border-radius: 16px;
}

.row {
  display: flex;
}